<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="public/css/style.css" rel="stylesheet">
    <title>Logout</title>
</head>

<body>
    <div class="container">
      <div class="header clearfix">        
        <h3 class="text-muted">Logout ok!</h3>
      </div>

      <div class="jumbotron">
        <h1>Logout complete!</h1>
        <p class="lead">To return to login page  please click  login button.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Login</a></p>
      </div>
</body>

</html>