extends ../layout

block content

      .container
          .header.clearfix
          h3.text-muted Logout ok!
            |       
            .jumbotron
              h1 Logout complete!
              |         
              p.lead To return to login page  please click  login button.
              |         
              p
                a.btn.btn-lg.btn-success(href='../', role='button') Login