extends ../layout

block content

      .col-md-12
          h1 Register User !! --&gt;
            |     
            .modal-dialog
              .modal-content
                .panel-heading
                  h3.panel-title Please Register user !
                |                     
                .panel-body
                  form(action="/register", method="POST")                 
                    fieldset
                      .form-group
                        input.form-control(placeholder='E-mail', name='email', type='email', autofocus='')
                      |                                 
                      .form-group
                        input.form-control(placeholder='Password', name='password', type='password', value='')
                      |                                                                
                      |                        
                      button.button-reg.btn.btn-sm.btn-success Register
          