extends ../layout

block content

      .container
          .header.clearfix
            h3.text-muted Express-login-logout            |       
            .jumbotron
              h1 Welcome User!!
              |         
              p.lead
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis amet est quam provident dolorem dignissimos iure similique deserunt error nam animi, recusandae tenetur optio, sed ut quidem. Esse, earum aliquid.
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores explicabo voluptatem natus esse quaerat corrupti eaque doloribus amet accusamus nulla, sint quis, nemo nisi repellat maxime, nesciunt repellendus perspiciatis, soluta.
              |         
              p
                a.btn.btn-lg.btn-success(href='#', role='button') Logout